<div class ="icon">
<%# twitter icon %>
<div class="twitter-icon">
<%=link_to "http://twitter.com/share?url=#{request.url}/&text=褒め方辞典/&hashtags=褒め方辞典" do %>
<i class="fab fa-twitter" id="twitter_id"></i> <% end %>
</div>

<%# facebook icon %>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v9.0" nonce="wWse5Ov5"></script>
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>


<%# line icon %>
<div class="line-it-button" data-lang="ja" data-type="share-b" data-ver="3" data-url="https://social-plugins.line.me/ja/how_to_install#lineitbutton" data-color="default" data-size="small" data-count="false" style="display: none;"></div><div class="icon-share">←SNSで「褒め方辞典」をシェアしてみよう</div>
 <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
 </div>

