<%# <div class="card2">
    <div class="info">
      <div style="padding: 10px; margin-bottom: 10px; border: 2px solid #bd5d38; background-color: #fff0f5">                        
      <div class="title"><%= link_to post.title, definition_path(post), class: "link_to_text_wh" %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %> 
<%# <% else %> 
<div class="card2">
  <div class="info">
      <div style="padding: 10px; margin-bottom: 10px; border: 2px solid #bd5d38; background-color: #fff0f5">                        
      <div class="title"><%= link_to post.title, definition_path(post), class: "link_to_text_wh" %>
    </div>
</div>

