<div class="card2">
  <div class="info">
      <div style="padding: 10px; margin-bottom: 10px; border: 2px solid #FFCC33; background-color: #FFFFCC">                        
      <div class="title"><%= link_to post.title, p_definition_path(post), class: "link_to_text_wh" %>
    </div>
</div>

