// Place all the styles related to the definitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* backgroundimage */
.bg_image {
  /* 文字中央寄せ */
  background-image: image-url("backgroundimage.jpg");
  background-size: cover;
  opacity:1.0;
}

.bg_mask {
 height: 100%;
 background: rgba(248, 236, 236, 0.5);
 opacity: 1.0;
}

.bg_mask2 {
 height: 100%;
 background: rgba(255, 255, 255, 0.5);
 opacity: 1.0;
}


.bg_image2 {
 /* 文字中央寄せ */
 background-image: image-url("backimage.jpg");
 background-size: cover;
 opacity:1.0;
}

.bg_image3 {
 /* 文字中央寄せ */
 background-image: image-url("backimage2.jpg");
 background-size: cover;
 opacity:1.0;
}

.bg_image4 {
 /* 文字中央寄せ */
 background-image: image-url("backimage3.jpg");
 background-size: cover;
 opacity:1.0;
}

.bg_image5 {
 /* 文字中央寄せ */
 background-image: image-url("backimage4.jpg");
 background-size: cover;
 opacity:1.0;
}
